body {
    font-size: FONT_SIZEpx;
}

a {
    text-decoration: none;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.package-table {
    border-collapse: collapse;
    width: 100%;
}

.package-table tr {
    padding: 8px;
    border-bottom: 1px solid var(--vscode-settings-textInputForeground);
}

.package-table tr td {
    padding: 8px;
}

.package-table th {
    text-align: left;
}

.expandable-row {
    box-shadow: inset 0 0 0 1000px rgb(75 75 75 / 30%);
}

.remove-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: FONT_SIZEpx;
    padding: 0;
}

.remove-button:hover {
    text-decoration: underline;
}

.refresh-container {
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
}

.spacer {
    flex-grow: 1;
}

.toolbar-button {
    background: none;
    padding: 8px;
    border: 1px solid var(--vscode-settings-textInputForeground);
    border-radius: 4px;
    color: var(--vscode-settings-textInputForeground);
    cursor: pointer;
    align-items: center;
}

.analytics-container {
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.results-columns {
    display: flex;
    gap: 20px;
}

.results-columns h4 {
    margin-bottom: 8px;
}

.results-column {
    flex: 1;
}

.results-column h2 {
    font-size: FONT_SIZEpx;
    margin-bottom: 8px;
}

.results-column ul {
    list-style-type: none;
    padding: 0;
}

.results-column li {
    margin-bottom: 6px;
}